body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 60px;
  background: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
.mn-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  color: inherit;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}
.mn-close:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/close.png) no-repeat 50% 50%;
  background-size: auto 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: -webkit-transform 0.3s,-moz-transform 0.3s,-o-transform 0.3s,transform 0.3s;
}
.mn-close:focus,
.mn-close:hover {
  color: inherit;
}
.mn-close:focus:before,
.mn-close:hover:before,
.mn-close:focus:before,
.mn-close:hover:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* Brand */
.mn-brand {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}
.mn-brand img {
  display: block;
}
/* Map */
.mn-map img {
  max-width: none;
}
.mn-map > div {
  height: calc(100% + 60px) !important;
}
/* Cover */
.mn-cover {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
}
.mn-cover > img {
  opacity: 0;
}
.mn-cover:not(.mn-scrollable) {
  overflow: hidden;
}
.mn-cover-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.mn-cover-bg:not(.mn-cover) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mn-cover-16by9 {
  height: 0;
  padding-bottom: 56.25%;
}
/* Wrapper */
.mn-wrapper {
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.mn-wrapper > .mn-cover-bg {
  position: fixed !important;
  opacity: .8;
}
.mn-ready .mn-wrapper {
  opacity: 1;
}
/* Header & Footer */
.mn-header,
.mn-footer {
  left: 0;
  right: 0;
  z-index: 15;
  height: 60px;
  font-family: "Fjalla One", "Roboto", Helvetica, Arial, sans-serif;
  color: #fff;
}
.mn-header {
  position: fixed;
  top: 0;
  background: #000;
}
.mn-header-nav > ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.mn-header-nav > ul > li {
  display: table-cell;
}
.mn-header-nav > ul > li > a {
  display: block;
  position: relative;
  padding: 22px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: inherit;
}
.mn-header-nav > ul > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 0;
  margin: 0 10%;
  border-bottom: 0 solid #f58634;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}
.mn-header-nav > ul > li.mn-active > a:after,
.mn-header-nav > ul > li > a:hover:after,
.mn-header-nav > ul > li > a:focus:after {
  border-bottom-width: 4px;
}
.mn-header-nav > ul > li + li > a {
  border-left: 1px solid #333;
}
.mn-header-offcanvas-toggle {
  padding: 12px;
}
.mn-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.mn-footer .mn-row {
  display: table;
  width: 100%;
}
.mn-footer .mn-col {
  display: table-cell;
  width: 49%;
  vertical-align: middle;
}
.mn-footer .mn-col-a {
  text-align: right;
}
.mn-footer .mn-col-b {
  width: 1%;
}
.mn-footer .mn-col-c {
  text-align: left;
}
@media (min-width: 960px) {
  .mn-footer {
    font-size: 1rem;
  }
  .mn-header-nav > ul {
    width: 50%;
  }
}
@media (min-width: 1220px) {
  .mn-header-nav > ul {
    width: 35%;
  }
}
/* Main Body */
.mn-body {
  position: relative;
  z-index: 1;
}
/* Top & Bottom */
.mn-top,
.mn-bottom {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
}
.mn-top a,
.mn-bottom a {
  color: inherit;
}
.mn-top .mn-brand {
  display: inline-block;
}
.mn-top {
  padding-top: 80px;
}
.mn-bottom-title {
  margin: 0;
}
/* Main & Main Alt */
.mn-main,
.mn-main-alt {
  background: #fff;
}
.mn-main .mn-main-header {
  padding: 40px 0 0;
  font-family: "Fjalla One", "Roboto", Helvetica, Arial, sans-serif;
}
.mn-main .mn-main-brand,
.mn-main .mn-main-close {
  display: none;
}
.mn-main .mn-main-header-title {
  float: left;
  max-width: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0 0 20px;
  font-size: 40px;
  line-height: 1;
  text-overflow: ellipsis;
}
.mn-main .mn-main-header-nav {
  float: right;
}
.mn-main .mn-main-header-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mn-main .mn-main-header-nav > ul > li {
  display: inline-block;
}
.mn-main .mn-main-header-nav > ul > li > a {
  position: relative;
  display: block;
  padding: 20px 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.mn-main .mn-main-header-nav > ul > li > a:after {
  content: "";
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 0;
  border-bottom: 0 solid;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}
.mn-main .mn-main-header-nav > ul > li > a:hover:after,
.mn-main .mn-main-header-nav > ul > li > a:focus:after,
.mn-main .mn-main-header-nav > ul > li.mn-active > a:after {
  border-bottom-width: 4px;
}
.mn-main .mn-main-body {
  padding: 40px 0;
  border-top: 1px solid #eee;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#f5f5f5 0, #fff 30px);
  background-image: -moz-linear-gradient(#f5f5f5 0, #fff 30px);
  background-image: -o-linear-gradient(#f5f5f5 0, #fff 30px);
  background-image: linear-gradient(#f5f5f5 0, #fff 30px);
}
.mn-main-alt {
  position: relative;
  max-width: 880px;
  margin: 50px auto 140px;
  padding: 50px 40px;
}
.mn-main-alt .uk-container {
  margin: 0;
  padding: 0;
}
.mn-main-alt .mn-main-brand,
.mn-main-alt .mn-main-close {
  position: absolute;
  top: 30px;
  z-index: 1;
}
.mn-main-alt .mn-main-close {
  right: 40px;
  z-index: 1;
  font-size: 20px;
  padding: 16px;
  background-color: #fff;
}
.mn-main-alt .mn-main-close:hover,
.mn-main-alt .mn-main-close:focus {
  opacity: 1;
}
.mn-main-alt .mn-main-brand {
  left: 40px;
}
.mn-main-alt .mn-main-header {
  position: relative;
  margin-bottom: 30px;
}
.mn-main-alt .mn-main-header:after {
  content: "";
  display: block;
  width: 60px;
  margin: 0 auto;
  border-bottom: 2px solid;
}
.mn-main-alt .mn-main-cover {
  height: 240px;
  margin: -50px -40px 50px;
  padding: 5% 0 0;
}
.mn-main-alt .mn-main-header-title {
  margin: 0 0 20px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}
.mn-main-alt .mn-main-body {
  text-align: center;
}
.mn-main-alt {
  top: -400px;
  opacity: 0;
  -webkit-box-shadow: 0 20px 160px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 20px 160px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 160px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: top 0.2s, opacity 1s, -webkit-box-shadow 2s;
  -moz-transition: top 0.2s, opacity 1s, -moz-box-shadow 2s;
  -o-transition: top 0.2s, opacity 1s, box-shadow 2s;
  transition: top 0.2s, opacity 1s, box-shadow 2s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.mn-ready .mn-main-alt {
  top: 0;
  opacity: 1;
}
/* Showroom */
.mn-showroom {
  background: #222;
  color: #fff;
}
.mn-showroom,
.mn-showroom .uk-slideshow,
.mn-showroom .uk-slideshow > li {
  height: 100%;
}
.mn-showroom .uk-slideshow > li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.mn-showroom-title {
  position: relative;
}
.mn-showroom-title:before {
  content: "";
  position: absolute;
  left: -35px;
  border-top: .5em solid transparent;
  border-left: 0.5em solid #f58634;
  border-bottom: .5em solid transparent;
}
.mn-showroom-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  padding: 35px 10px 35px 35px;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 960px) {
  .mn-showroom-content {
    left: auto;
    right: 0;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.mn-showroom-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
  margin: 0;
  padding: 20px 10px;
  text-align: center;
}
.mn-showroom-nav > li {
  display: table-cell;
  position: relative;
}
.mn-showroom-nav > li > a {
  display: block;
  margin: 5px;
  padding-top: 56.25%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid;
}
.mn-showroom-nav > li > a > .uk-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 6px;
  max-width: none;
}
.mn-showroom-nav-title {
  font-size: inherit;
  line-height: inherit;
}
.mn-showroom-nav > .uk-active > a {
  border-color: #f58634;
}
.mn-showroom .mn-showroom-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  padding-bottom: 70px;
}
@media (min-width: 960px) {
  .mn-showroom .mn-showroom-nav {
    display: block;
    bottom: 30px;
    padding-bottom: 80px;
  }
  .mn-showroom-nav > li {
    display: inline-block;
    width: 130px;
  }
  .mn-showroom-nav-title {
    font-size: 16px;
  }
  .mn-showroom-nav > li > a > .uk-overlay {
    display: block;
  }
}
/* Fullcreen */
/*
html:not(.mn-fullscreen) .mn-wrapper > .mn-cover-bg {
	opacity: .3;
}
*/
.mn-fullscreen,
.mn-fullscreen body,
.mn-fullscreen .mn-wrapper,
.mn-fullscreen .mn-body,
.mn-fullscreen .mn-main,
.mn-fullscreen .mn-main-alt {
  height: 100%;
}
@media (max-height: 700px) {
  .mn-fullscreen {
    height: 700px;
  }
}
.mn-fullscreen .mn-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.mn-fullscreen .mn-top .mn-brand {
  background-color: rgba(0, 0, 0, 0.8);
}
.mn-fullscreen .mn-bottom {
  display: none;
}
.mn-fullscreen .mn-footer {
  bottom: 0;
}
@media (min-width: 960px) {
  .mn-fullscreen .mn-footer {
    bottom: 40px;
  }
}
.mn-flahes {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.mn-flahes > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mn-flahes > ul > li,
.mn-flahes > ul > noscript > li {
  display: block;
  padding: 20px;
}
.mn-flahes > ul > li + li {
  margin-top: -10px;
  padding-top: 0;
}
