// UIkit
// ========================================================================

@import "../vendor/uikit/src/less/uikit.less";

// Theme
// ========================================================================

// LESS related
@import "../vendor/uikit/themes/default/variables.less";

// Defaults
@import "../vendor/uikit/themes/default/base.less";

// Layout
@import "../vendor/uikit/themes/default/grid.less";
@import "../vendor/uikit/themes/default/panel.less";
@import "../vendor/uikit/themes/default/article.less";
@import "../vendor/uikit/themes/default/comment.less";

// Navs
@import "../vendor/uikit/themes/default/nav.less";
@import "../vendor/uikit/themes/default/navbar.less";
@import "../vendor/uikit/themes/default/subnav.less";
@import "../vendor/uikit/themes/default/breadcrumb.less";
@import "../vendor/uikit/themes/default/pagination.less";
@import "../vendor/uikit/themes/default/tab.less";

// Elements
@import "../vendor/uikit/themes/default/list.less";
@import "../vendor/uikit/themes/default/description-list.less";
@import "../vendor/uikit/themes/default/table.less";
@import "../vendor/uikit/themes/default/form.less";

// Common
@import "../vendor/uikit/themes/default/button.less";
@import "../vendor/uikit/themes/default/icon.less";
@import "../vendor/uikit/themes/default/close.less";
@import "../vendor/uikit/themes/default/badge.less";
@import "../vendor/uikit/themes/default/alert.less";
@import "../vendor/uikit/themes/default/thumbnail.less";
@import "../vendor/uikit/themes/default/overlay.less";
@import "../vendor/uikit/themes/default/progress.less";

// JavaScript
@import "../vendor/uikit/themes/default/dropdown.less";
@import "../vendor/uikit/themes/default/modal.less";
@import "../vendor/uikit/themes/default/offcanvas.less";
@import "../vendor/uikit/themes/default/tooltip.less";

// Need to be loaded last
@import "../vendor/uikit/themes/default/text.less";
@import "../vendor/uikit/themes/default/utility.less";

// Components
// ========================================================================

@import "../vendor/uikit/src/less/components/slidenav.less";
@import "../vendor/uikit/src/less/components/slideshow.less";
@import "../vendor/uikit/src/less/components/accordion.less";

// Overwrites
// ========================================================================

@import "../vendor/lesshat/build/lesshat-prefixed.less";

// Variables

@global-color: #000;
@global-background: transparent;
@global-link-color: #f58634;
@global-link-hover-color: darken(@global-link-color, 10%);
@global-primary-background: #000;
@global-contrast-color: #fff;
@global-border: #ddd;

// Base

@base-body-font-family: "Roboto", Helvetica, Arial, sans-serif;
@base-heading-font-family: "Fjalla One", @base-body-font-family;
@base-heading-color: inherit; 

// Form

@form-border: transparent;
@form-background: #eee;
@form-focus-border: transparent;
@form-focus-background: #ddd;

// Button

@button-primary-hover-background: @global-link-hover-color;
@button-primary-active-background: @global-link-hover-color;

.hook-button() {
	font-family: @base-heading-font-family;	
	text-transform: uppercase;
}

// Icon

@icon-button-border-radius: 0;

// Button & Icon

.uk-button-glass,
.uk-icon-button-glass {
	position: relative;
	z-index: 1;
	color: inherit;
	border: 1px solid;
	background: transparent;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		height: 0;
		background: @global-link-color;
		.lh-transition(height .2s);
	}

	&:hover, &:focus {
		//color: @global-link-color;
		color: inherit;
		background-color: transparent;

		&:after { height: 100%; }
	}
}

// Tooltip

@tooltip-padding-horizontal: 15px;
@tooltip-background: #000;
@tooltip-color: #fff;

.hook-tooltip {
	text-transform: uppercase;
	font-family: @base-heading-font-family;
}

// Offcanvas

@offcanvas-bar-background: #000;

.uk-icon-plus-minus:after { content: "\f196"; }
.uk-active > .uk-icon-plus-minus:after { content: "\f147"; }

// Accordion

@accordion-title-padding-vertical: 10px;

// Overlay

.uk-overlay-area { background: rgba(0,0,0,.5); }